* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  height: 100vh;
}

.screen {
  display: none;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.screen.active {
  display: flex;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input {
  padding: 15px;
  font-size: 1.5rem;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  border: none;
  margin-bottom: 30px;
}

button {
  padding: 15px 40px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #22c55e;
  color: #022c22;
  transition: transform 0.2s ease, background 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background: #16a34a;
}

.scoreboard {
  display: flex;
  gap: 180px;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.team {
  text-align: center;
}

.team h2 {
  font-size: 8rem;
  margin-bottom: 20px;
}

.score {
  font-size: 15rem;
  margin-bottom: 40px;
}

.controls button {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  margin: 0 10px;
}

#winnerScreen h1 {
  animation: pop 1s ease-in-out infinite alternate;
}

@keyframes pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
